<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"type":"default"}} -->
<main class="wp-block-group main">
	<!-- wp:pattern {"slug":"template-a-blocks/home-hero"} /-->
	<!-- wp:pattern {"slug":"template-a-blocks/home-intro"} /-->
	<!-- wp:pattern {"slug":"template-a-blocks/home-features"} /-->
	<!-- wp:pattern {"slug":"template-a-blocks/home-cta"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
